@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{ /*Válido para todo site*/  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: black;*/
}
header{
    background-color: #347DB1;
    height:202px;
}

.container-grid{
    width: 1200px;
    height:65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav{
    width: 285px/*25% 281px*/;
    display: flex;
    justify-content: space-between;
}
.menu-pesquisar{
    width: 387px;
    display: flex;
}

.menu-nav a{
    color: white;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-family: sans-serif,'Roboto';
    font-size: 28;
}

.submenu{
    background-color: #205F8C;
    height:35%;
    display: flex;
}

.menu-secundario{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.menu-secundario a{
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 28;
}

.banner{
    height: 435px;
    background-image: url(../Imagens/Banner2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    /*margin-left: 7.5%;*/
    /*position: absolute;
    left: 7.5%;
    top: 269px;*/
}

.texto-banner{
    color: white;
}

.posicao-texto{
    justify-content: center;
}

.pesquisar{
    initial-value: "Pesquisar";
    width: 338px/*28.5%*/;
    height: 49px/*37.5%*/;
}

.botao-pesquisar{
    height: 49px/*37.5%*/;
    width: 49px/*height*/;
}

.secao-banner{
    height: min-content;/*569px*/
    background-color: black;
    padding-top: 134px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 0px;*/
}

.navegacao-carrossel{
    padding-right: 40%;
    padding-left: 40%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    padding-top: 1%;
    align-items: center;
}

.vitrine{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif,'Roboto';
    font-size: 28;
}
.vitrine-item{
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
}
.container-imagem{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vitrine-item img{
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
/*.vitrine-item a p{
    text-decoration: line-through;
}*/
.vitrine-item a{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #347DB1;
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 24;
    width: 200px;
    height: auto;
    display: flex;
    text-align: center;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.vitrine-item .recomendacoes{
    width: 25%;
}

footer{
    background-color:  #205F8C;
    color: white;
    height: 472px;
}

.footer-contato{
    height: auto;
    background-color:  #347DB1;
    margin-top: 41px;

}
.footer-menu{
    /*text-align: start;
    align-content: top;*/
}

/*.vitrine-item .recomendacoes img{
    padding-top: 40%;
    display: flex;
    
    justify-content: space-between;
    padding-bottom: 5%;
    /*padding-top: 1%;*/
    /*align-items: center;
}*/
/*.vitrine-item .preco-antigo{
    font-size: 10;
}
.vitrine-item .preco-novo{
    font-size: 18;
}*/

@media screen  and (max-width:1200px) {
    
}

@media screen  and (max-width:768px) {
    
}