@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{ /*Válido para todo site*/  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: black;*/
}
header{
    background-color: #347DB1;
    height:202px;
}

.container-grid{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav{
    /*width: 285px/*25% 281px ;*/
    display: flex;
    justify-content: space-between;
}
.menu-pesquisar{
    width: 387px;
    display: flex;
}

.menu-nav label{
    color: white;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-family: sans-serif,'Roboto';
    font-size: 20px;/*28;*/
}

.submenu{
    background-color: #205F8C;
    height:35%;
    display: flex;
}

.menu-primario{
    height:65%;
}

.menu-secundario{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    z-index: 2;
}

.menu-secundario a{
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 20px;/*28;*/
}

.menu-pesquisar-mobile{
    display: none;
}

.sanduba{
    display: none;
}

.banner{
    height: 435px;
    background-image: url(../Imagens/Banner2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    /*margin-left: 7.5%;*/
    /*position: absolute;
    left: 7.5%;
    top: 269px;*/
}

.texto-banner{
    color: white;
}

.posicao-texto{
    justify-content: center;
}

.pesquisar{
    initial-value: "Pesquisar";
    width: 338px/*28.5%*/;
    height: 49px/*37.5%*/;
}

.botao-pesquisar{
    height: 49px/*37.5%*/;
    width: 49px/*height*/;
}

.secao-banner{
    height: min-content;/*569px*/
    background-color: black;
    padding-top: 134px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 0px;*/
}

.navegacao-carrossel{
    padding-right: 40%;
    padding-left: 40%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    padding-top: 1%;
    align-items: center;
}

.vitrine{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif,'Roboto';
    font-size: 20px/*28;*/
}
.vitrine-item{
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
}
.container-imagem{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vitrine-item img{
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
/*.vitrine-item a p{
    text-decoration: line-through;
}*/
.vitrine-item a{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #347DB1;
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 16px;
    width: 200px;
    height: auto;
    display: flex;
    text-align: center;
}

.recomendacoes{
    width: 600px;
    height:200px;
    flex-direction: column;
}

footer{
    background-color:  #205F8C;
    color: white;
    height: 472px;
}

.footer-contato{
    background-color:  #347DB1;
    margin-top: 41px;
    height: 26.5%;

}
.footer-menu{
    /*text-align: start;
    vertical-align: top;
    align-content: top;*/
    height: 73.5%;
}
.footer-empilhamento{
    display: none;
    flex-direction: column;
    align-items: center;
}
.footer-alinhamento{
    display: flex;
}
.secao-login{
    padding-top: 100px;
    background-color: black;
    padding-bottom: 100px;
}

.login{
    width: 50%;
    height: 30%;
    background-color: #205F8C;
    color: white;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.conteudo-login{
    width:  90%;
    display: flex;
    flex-direction: column;
    /*align-items: stretch;
    /*justify-content: space-between;*/
}
.conteudo-cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.conteudo-login input{
    width: auto;
    max-width: 300px;
    min-width: 100px;
}
/* .container-formulario{
    display: flex;
    justify-content: center;
} */
.form-login{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.form-cadastro{
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.form-botoes{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
}
.form-botoes input{
    width: min-content;
    font-size: 14px;
}
.botao-logar{
    /*width: 75%;*/
    height: 34%;

}
label{
    font-size: 20px;
}
.estrelas{
    display: flex;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10px;
    justify-content: space-between;
}
.estrelas img{
    width:37px;
    height: 34px;
}
.footer-contato h6{
    font-size: 14px;
    font-weight: bold;
}
.footer-menu h5{
    font-size: 16px;
    font-weight: bold;
}
.footer-menu h6{
    font-size: 16px;
}
.so-celular{
    display: none;
}
.so-celular h5{
    font-size: 14px;
    font-weight: bold;
}
.posicionamento-header{
    position: relative;
}
.footer-contato .so-celular{
    justify-content: center;
}

.btn-primary{
    background-color: #347DB1;
    border-color: #2b72a5;
    border-width: 2px;
}

.btn-link{
    color: white;
    font-size: 12px;
    width: fit-content;
    /* max-width: 130px; */
    /* border-color: black; */
}
.btn-link:hover{
    color: black;
    font-size: 12px;
}
 .centralizar{
    display:flex;
    justify-content: center;
    padding-top: 15px;
    width: 100%;
} 
.selectsexo{
    display: flex;
    flex-direction: column;
    padding: 10px, 0px;

}
/* .navegacao-carrossel button{
    width: 25px;
    height: 25px; 
    background-image: url('../Imagens/Circulo.png');
    background-color: black;
    border-width: 0px;
}
.navegacao-carrossel .active button{
    width: 25px;
    height: 25px;
    background-image: url('../Imagens/Circulo-selecionado.png') !important;
    background-color: black;
    border-width: 2px;
} */
.carousel-indicators{
    padding-right: 25%;
    padding-left: 25%;
    bottom: -70px;
    /* margin-top: 30%; */
}
.carousel-indicators [data-bs-target]{
    width: 25px;
    height: 25px; 
    min-width: 10px;
    min-height: 10px;
    background-image: url('../Imagens/Circulo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
    /* opacity: 1; */
}
.carousel-indicators .active{
    background-image: url('../Imagens/Circulo-selecionado.png');
}
/*.vitrine-item .recomendacoes img{
    padding-top: 40%;
    display: flex;
    
    justify-content: space-between;
    padding-bottom: 5%;
    /*padding-top: 1%;*/
    /*align-items: center;
}*/
/*.vitrine-item .preco-antigo{
    font-size: 10;
}
.vitrine-item .preco-novo{
    font-size: 18;
}*/

@media screen  and (max-width:1200px) {
    .menu-nav label{
        font-size: 14px;/*28;*/
    }
    .menu-secundario a{
        font-size: 14px;
    }
    .menu-pesquisar{
        width: 217px;
    }
    .menu-pesquisar img{
        width: 38px;
        height: 38px;
    }
    .menu-pesquisar input{
        height: 38px;
    }
    .logo{
        width: 145px;
        height: 85px;
    }
    header{
        height:160px;
    }
    .vitrine{
        font-size: 18px;
    }
    .vitrine-item a{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        width: 200px;
    }
    .container-grid{
        width: 768px;
    }
    .footer-contato h6{
        font-size: 12px;
        font-weight: bold;
    }
    .footer-menu h5{
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 4px;
        padding-top: 5px;
    }
    .footer-menu h6{
        font-size: 14px;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    .login{
        max-width: 600px;
    }
    .so-desktop{
        display: none;
    }
    .banner{
        width: 670px;
        height: 180px;
    }
    .secao-banner{
        height: min-content;/*569px*/
        padding-top: 5%;
        padding-bottom: 5%;
        /*margin-bottom: 0px;*/
    }
    .navegacao-carrossel{
        padding-right: 32%;
        padding-left: 32%;
    }
    .navegacao-carrossel img{
        width: 18px;
        height: 18px;
    }
    .estrelas img{
        width: 32px;
        height: 30.5px;
    }
    footer{
        height: 362px;
    }
    .footer-contato{
        margin-top: 10px;
        height: 23.75%; /*85,3px*/
        /*padding-bottom: 10px;*/
    }
    .footer-menu{
        height: 76.25%;  
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
    }
    .footer-empilhamento{
        display: flex;
    }
    .footer-alinhamento{
        display: none;
    }
    .carousel-indicators{
        bottom: -50px;
    }
    .carousel-indicators [data-bs-target]{
        width: 18px;
        height: 18px;
        margin-left: 7px;
        margin-right: 7px;
    } 
}

@media screen  and (max-width:768px) {
    .menu-nav label{
        font-size: 10px;/*28;*/
        
    }
    .menu-pesquisar{
        /*width: 90px;*/
        display: none;
    }
    .menu-pesquisar-mobile{
        display: flex;
        /*justify-content: center;*/
        /*align-items: center;*/
        width: 85%;
        justify-content: space-between;
        margin: auto;
    }
    .menu-pesquisar-mobile .botao-pesquisar{
        width: 26px;
        height: 26px;
    }
    .menu-pesquisar-mobile .pesquisar{
        height: 26px;
        width: 80%;
    }

    .sanduba{
        display: flex;
    }
    .logo{
        width:110px;
        height: 65px;
    }
    header{
        height:140px;
    }
    .container-imagem{
        width: 170px;
        height: 170px;
    }
    .vitrine{
        font-size: 16px;
    }
    .vitrine-item{
        justify-content: center;
        flex-direction: column;
    }
    .vitrine-item img{
        max-height: 170px;
        max-width: 170px;
    }
    .vitrine-item a{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 12px;
        width: 170px;
    }
    .container-grid{
        width: 90%;
    }
    .container-grid h6{
        font-size: 10px;
    }
    .container-grid h5{
        font-size: 12px;
    }
    footer{
        background-color:  #205F8C;
        color: white;
        height: 182px;
    }
    
    .footer-contato{
        margin-top: 0px;
        padding-top: 10px;
        height: 73.5%;
        flex-direction: column;
    }
    .footer-menu{
        height: 26.5%;
    }
    .so-desktop{
        display: none;
        /*font-size:0px;*/
    }
    .so-celular{
        display: flex;
    }
    .tablet-e-desktop{
        display:none;
        /*font-size:0px;
        background-color: black;
        visibility:hidden;*/
    }
    .banner{
        background-image: url(../Imagens/Banner3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 320px;
        height: 272px;
    }
    .secao-banner{
        height: min-content;/*569px*/
        padding-top: 5%;
        padding-bottom: 5%;
        /*margin-bottom: 0px;*/
    }
    .navegacao-carrossel{
        padding-right: 25%;
        padding-left: 25%;
    }
    .navegacao-carrossel img{
        width: 10px;
        height: 10px;
    }
    label{
        font-size: 12px;
    }
    .conteudo-login{
        width:  90%;
    }
    /* .form-botoes{
        /*flex-direction: column;*/
        /*padding-bottom: 10px;*/
        
    /* }
    .form-botoes input{
        font-size: 10px;
    } */ 
    /* .botRecSenha{
        /* display: none; */
        /* font-size: 10px;
    } */
    .estrelas img{
        width: 25px;
        height: 22px;
    }
    .footer-menu h6{
        display: none;
    }
    .footer-empilhamento{
        display: flex;
    }
    .footer-alinhamento{
        display: none;
    }
    .footer-contato h6{
        font-size: 9px;
        font-weight: bold;
    }
    .footer-menu h5{
        font-size: 14px;
        font-weight: bold;
    }
    .so-celular label{
        padding-top: 10px;
        font-size: 10px;
        font-style: italic;
        text-decoration: underline;
    }
    .conteudo-login input{
        max-width: 160px;
        min-width: 80px;
    }
    .menu-secundario{  /* Submenu com quatro opções que se torna flutuante via menu hamburguer na versão mobile*/
        /* display: none; */
        display: flex;
        left: -150px;
        opacity: 0;
        flex-direction: column;
        width: 150px;
        height: 200px;
        padding-top: 4%;
        padding-bottom: 4%;
        position: absolute;
        /* top: 140px;*/
        /* right: -60px;  */
        background-color: #2b72a5;
    }
    .menu-secundario a{
        font-size: 10px;
    }
    .menu-nav{
        /*display: flex;
        justify-content: space-between;*/
        flex-direction: column;
        align-items: center;
    }
    .btn{
        font-size: 10px;
    }
    .btn-link:hover{
        font-size: 10px;
    }
    .form-cadastro input{
        font-size: small;
    }
    .carousel-indicators{
        bottom: -35px;
    }
    .carousel-indicators [data-bs-target]{
        width: 10px;
        height: 10px;
        /* margin-left: 10px;
        margin-right: 10px; */
    } 
}

.mostrarMenu{
    /* display: flex !important;  */
    opacity: 0.98 !important;
    left: 0 !important;
    transition: opacity 0.4s !important;
}