@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{ /*Válido para todo site*/  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: black;*/
}
header{
    background-color: #347DB1;
    height:202px;
}

.container-grid{
    width: 1200px;
    height:65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav{
    /*width: 285px/*25% 281px*/;
    display: flex;
    justify-content: space-between;
}
.menu-pesquisar{
    width: 387px;
    display: flex;
}

.menu-nav a{
    color: white;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-family: sans-serif,'Roboto';
    font-size: 20px;/*28;*/
}

.submenu{
    background-color: #205F8C;
    height:35%;
    display: flex;
}

.menu-secundario{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.menu-secundario a{
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 20px;/*28;*/
}

.menu-pesquisar-mobile{
    display: none;
}

.sanduba{
    display: none;
}

.banner{
    height: 435px;
    background-image: url(../Imagens/Banner2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    /*margin-left: 7.5%;*/
    /*position: absolute;
    left: 7.5%;
    top: 269px;*/
}

.texto-banner{
    color: white;
}

.posicao-texto{
    justify-content: center;
}

.pesquisar{
    initial-value: "Pesquisar";
    width: 338px/*28.5%*/;
    height: 49px/*37.5%*/;
}

.botao-pesquisar{
    height: 49px/*37.5%*/;
    width: 49px/*height*/;
}

.secao-banner{
    height: min-content;/*569px*/
    background-color: black;
    padding-top: 134px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom: 0px;*/
}

.navegacao-carrossel{
    padding-right: 40%;
    padding-left: 40%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    padding-top: 1%;
    align-items: center;
}

.vitrine{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif,'Roboto';
    font-size: 20px/*28;*/
}
.vitrine-item{
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;
}
.container-imagem{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vitrine-item img{
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
/*.vitrine-item a p{
    text-decoration: line-through;
}*/
.vitrine-item a{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #347DB1;
    color: white;
    text-decoration: none;
    font-family: sans-serif,'Roboto';
    font-size: 16px;
    width: 200px;
    height: auto;
    display: flex;
    text-align: center;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.recomendacoes{
    width: 600px;
    height:200px;
}

footer{
    background-color:  #205F8C;
    color: white;
    height: 472px;
}

.footer-contato{
    height: auto;
    background-color:  #347DB1;
    margin-top: 41px;

}
.footer-menu{
    /*text-align: start;
    vertical-align: top;
    align-content: top;*/
}
.secao-login{
    padding-top: 100px;
    background-color: black;
    padding-bottom: 100px;
}

.login{
    width: 70%;
    height: 50%;
    background-color: #205F8C;
    color: white;
}
.usuario{
    width: 75%;
    height: 150px;
    justify-content: space-between;
    float: inline-start;
}
.senha{
    width: 75%;
    height: 150px;
    justify-content: space-between;
    float: inline-end;
}
/*.vitrine-item .recomendacoes img{
    padding-top: 40%;
    display: flex;
    
    justify-content: space-between;
    padding-bottom: 5%;
    /*padding-top: 1%;*/
    /*align-items: center;
}*/
/*.vitrine-item .preco-antigo{
    font-size: 10;
}
.vitrine-item .preco-novo{
    font-size: 18;
}*/

@media screen  and (max-width:1200px) {
    .menu-nav a{
        font-size: 14px;/*28;*/
    }
    .menu-secundario a{
        font-size: 14px;
    }
    .menu-pesquisar{
        width: 217px;
    }
    .menu-pesquisar img{
        width: 38px;
        height: 38px;
    }
    .menu-pesquisar input{
        height: 38px;
    }
    #logo{
        width: 145px;
        height: 85px;
    }
    header{
        height:160px;
    }
    .vitrine{
        font-size: 18px;
    }
    .vitrine-item a{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        width: 200px;
    }
    .container-grid{
        width: 768px;
    }
    .so-desktop{
        display: none;
    }
    .banner{
        width: 670px;
        height: 180px;
    }
    .secao-banner{
        height: min-content;/*569px*/
        padding-top: 5%;
        padding-bottom: 5%;
        /*margin-bottom: 0px;*/
    }
    .navegacao-carrossel{
        padding-right: 32%;
        padding-left: 32%;
    }
    .navegacao-carrossel img{
        width: 18px;
        height: 18px;
    }
}

@media screen  and (max-width:768px) {
    .menu-nav a{
        font-size: 10px;/*28;*/
        
    }
    .menu-secundario{
        display: none;
    }
    /*.menu-secundario a{
        font-size: 12px;
    }*/
    .menu-nav{
        display: flex;
        justify-content: space-between;
    }
    .menu-pesquisar{
        /*width: 90px;*/
        display: none;
    }
    .menu-pesquisar-mobile{
        display: flex;
        /*justify-content: center;*/
        /*align-items: center;*/
        width: 85%;
        justify-content: space-between;
        margin: auto;
    }
    .menu-pesquisar-mobile .botao-pesquisar{
        width: 26px;
        height: 26px;
    }
    .menu-pesquisar-mobile .pesquisar{
        height: 26px;
        width: 80%;
    }

    .sanduba{
        display: flex;
    }
    #logo{
        width:110px;
        height: 65px;
    }
    header{
        height:140px;
    }
    .container-imagem{
        width: 170px;
        height: 170px;
    }
    .vitrine{
        font-size: 16px;
    }
    .vitrine-item{
        justify-content: center;
    }
    .vitrine-item img{
        max-height: 170px;
        max-width: 170px;
    }
    .vitrine-item a{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 12px;
        width: 170px;
    }
    .container-grid{
        width: 90%;
    }
    .container-grid h6{
        font-size: 10px;
    }
    .container-grid h5{
        font-size: 12px;
    }
    .so-desktop{
        display: none;
        /*font-size:0px;*/
    }
    .tablet-e-desktop{
        display:none;
        /*font-size:0px;
        background-color: black;
        visibility:hidden;*/
    }
    .banner{
        background-image: url(../Imagens/Banner3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 320px;
        height: 272px;
    }
    .secao-banner{
        height: min-content;/*569px*/
        padding-top: 5%;
        padding-bottom: 5%;
        /*margin-bottom: 0px;*/
    }
    .navegacao-carrossel{
        padding-right: 25%;
        padding-left: 25%;
    }
    .navegacao-carrossel img{
        width: 10px;
        height: 10px;
    }
}